rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Semanas e inscritos: leitura e escrita livres
    match /semanas/{semId} {
      allow read, write: if true;
      match /inscritos/{inscId} {
        allow read, write: if true;
      }
    }

    // Configurações globais do sistema (avisos, config)
    match /config/{docId} {
      allow read, write: if true;
    }

    // Bloqueia qualquer outra coleção
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
